/*-------------------------------------------------------*
    Pintsize
    Url: http://www.pintsize.io
    Github: https://github.com/alistairtweedie/Pintsize/

/*-------------------------------------------------------*/
/*-------------------------------------------------------*    #Grid config
\*-------------------------------------------------------*/
/*-------------------------------------------------------*    #Grid calculations
\*-------------------------------------------------------*/
/*-------------------------------------------------------*    #Clearfix mixin
\*-------------------------------------------------------*/
/*-------------------------------------------------------*    #Box sizing mixin
\*-------------------------------------------------------*/
/*-------------------------------------------------------*    #Media query mixin
\*-------------------------------------------------------*/
/*-------------------------------------------------------*    #Older IE mixin
    - support for IE9 and IE8.
    - $old-ie must be srt to true.
\*-------------------------------------------------------*/
/*-------------------------------------------------------*    #Gutter mixin
    - If $fixed-gutter-size is set to true this will output
    the $gutter-width as a fixed value and not percentage
\*-------------------------------------------------------*/
/*-------------------------------------------------------*    #The grid
\*-------------------------------------------------------*/
.container {
  max-width: 1080px;
  margin: 0 auto;
  box-sizing: border-box; }
  .old-ie .container:before,
  .old-ie .container:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */ }
  .old-ie .container:after {
    clear: both; }
  .old-ie .container {
    *zoom: 1; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row; }
  .old-ie .flex:before,
  .old-ie .flex:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */ }
  .old-ie .flex:after {
    clear: both; }
  .old-ie .flex {
    *zoom: 1; }

.col {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  box-sizing: border-box;
  padding-left: 12.5px;
  padding-right: 12.5px; }
  .old-ie .col {
    float: left;
    display: block; }

.col__sm--1 {
  width: 8.33333%; }
  .old-ie .col__sm--1 {
    float: left;
    display: block; }

.col__sm--2 {
  width: 16.66667%; }
  .old-ie .col__sm--2 {
    float: left;
    display: block; }

.col__sm--3 {
  width: 25%; }
  .old-ie .col__sm--3 {
    float: left;
    display: block; }

.col__sm--4 {
  width: 33.33333%; }
  .old-ie .col__sm--4 {
    float: left;
    display: block; }

.col__sm--5 {
  width: 41.66667%; }
  .old-ie .col__sm--5 {
    float: left;
    display: block; }

.col__sm--6 {
  width: 50%; }
  .old-ie .col__sm--6 {
    float: left;
    display: block; }

.col__sm--7 {
  width: 58.33333%; }
  .old-ie .col__sm--7 {
    float: left;
    display: block; }

.col__sm--8 {
  width: 66.66667%; }
  .old-ie .col__sm--8 {
    float: left;
    display: block; }

.col__sm--9 {
  width: 75%; }
  .old-ie .col__sm--9 {
    float: left;
    display: block; }

.col__sm--10 {
  width: 83.33333%; }
  .old-ie .col__sm--10 {
    float: left;
    display: block; }

.col__sm--11 {
  width: 91.66667%; }
  .old-ie .col__sm--11 {
    float: left;
    display: block; }

.col__sm--12 {
  width: 100%; }
  .old-ie .col__sm--12 {
    float: left;
    display: block; }

.col__offset--1 {
  margin-left: 8.33333%; }

.col__offset--2 {
  margin-left: 16.66667%; }

.col__offset--3 {
  margin-left: 25%; }

.col__offset--4 {
  margin-left: 33.33333%; }

.col__offset--5 {
  margin-left: 41.66667%; }

.col__offset--6 {
  margin-left: 50%; }

.col__offset--7 {
  margin-left: 58.33333%; }

.col__offset--8 {
  margin-left: 66.66667%; }

.col__offset--9 {
  margin-left: 75%; }

.col__offset--10 {
  margin-left: 83.33333%; }

.col__offset--11 {
  margin-left: 91.66667%; }

.col__offset--12 {
  margin-left: 100%; }

@media (min-width: 40em) {
  .col__md--1 {
    width: 8.33333%; }
    .old-ie .col__md--1 {
      float: left;
      display: block; }
  .col__md--2 {
    width: 16.66667%; }
    .old-ie .col__md--2 {
      float: left;
      display: block; }
  .col__md--3 {
    width: 25%; }
    .old-ie .col__md--3 {
      float: left;
      display: block; }
  .col__md--4 {
    width: 33.33333%; }
    .old-ie .col__md--4 {
      float: left;
      display: block; }
  .col__md--5 {
    width: 41.66667%; }
    .old-ie .col__md--5 {
      float: left;
      display: block; }
  .col__md--6 {
    width: 50%; }
    .old-ie .col__md--6 {
      float: left;
      display: block; }
  .col__md--7 {
    width: 58.33333%; }
    .old-ie .col__md--7 {
      float: left;
      display: block; }
  .col__md--8 {
    width: 66.66667%; }
    .old-ie .col__md--8 {
      float: left;
      display: block; }
  .col__md--9 {
    width: 75%; }
    .old-ie .col__md--9 {
      float: left;
      display: block; }
  .col__md--10 {
    width: 83.33333%; }
    .old-ie .col__md--10 {
      float: left;
      display: block; }
  .col__md--11 {
    width: 91.66667%; }
    .old-ie .col__md--11 {
      float: left;
      display: block; }
  .col__md--12 {
    width: 100%; }
    .old-ie .col__md--12 {
      float: left;
      display: block; } }

@media (min-width: 64em) {
  .col__lg--1 {
    width: 8.33333%; }
    .old-ie .col__lg--1 {
      float: left;
      display: block; }
  .col__lg--2 {
    width: 16.66667%; }
    .old-ie .col__lg--2 {
      float: left;
      display: block; }
  .col__lg--3 {
    width: 25%; }
    .old-ie .col__lg--3 {
      float: left;
      display: block; }
  .col__lg--4 {
    width: 33.33333%; }
    .old-ie .col__lg--4 {
      float: left;
      display: block; }
  .col__lg--5 {
    width: 41.66667%; }
    .old-ie .col__lg--5 {
      float: left;
      display: block; }
  .col__lg--6 {
    width: 50%; }
    .old-ie .col__lg--6 {
      float: left;
      display: block; }
  .col__lg--7 {
    width: 58.33333%; }
    .old-ie .col__lg--7 {
      float: left;
      display: block; }
  .col__lg--8 {
    width: 66.66667%; }
    .old-ie .col__lg--8 {
      float: left;
      display: block; }
  .col__lg--9 {
    width: 75%; }
    .old-ie .col__lg--9 {
      float: left;
      display: block; }
  .col__lg--10 {
    width: 83.33333%; }
    .old-ie .col__lg--10 {
      float: left;
      display: block; }
  .col__lg--11 {
    width: 91.66667%; }
    .old-ie .col__lg--11 {
      float: left;
      display: block; }
  .col__lg--12 {
    width: 100%; }
    .old-ie .col__lg--12 {
      float: left;
      display: block; } }

/*-------------------------------------------------------*    #Flexbox helper classes
    - docs for browser support to be provided
\*-------------------------------------------------------*/
.flex--start {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start; }
  .flex--start .col {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto; }

.flex--center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center; }
  .flex--center .col {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto; }
  .old-ie .flex--center .flex--center {
    float: none;
    margin-left: auto;
    margin-right: auto; }

.flex--end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end; }
  .flex--end .col {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto; }

.flex--top {
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start; }

.flex--middle {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }

.flex--baseline {
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  -webkit-align-items: baseline;
  align-items: baseline; }

.flex--auto {
  -webkit-box-flex: 1;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto; }

.flex--none {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto; }

.flex--wrap {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.flex--row {
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row; }

.flex--row {
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row; }

.flex--bottom {
  -webkit-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end; }

.flex--around {
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around; }
  .flex--around .col {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto; }

.flex--between {
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
          justify-content: space-between; }
  .flex--between .col {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto; }

.flex--reverse {
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse; }

.col--first {
  -webkit-box-ordinal-group: -1;
  -ms-flex-order: -1;
  -webkit-order: -1;
  order: -1; }

.col--last {
  -webkit-box-ordinal-group: 1;
  -ms-flex-order: 1;
  -webkit-order: 1;
  order: 1; }
