/*-------------------------------------------------------*\
    Variables
/*-------------------------------------------------------*/

/*	Grid
--------------------------------------------------------*/

$columns: 12 !default;
$column-width: 65px !default;
$gutter-width: 20px !default;

// Basic or Advanced usage
$advanced-usage: false !default;


/*	Colors
--------------------------------------------------------*/

$primary-color: #ff9c08 !default;
$secondary-color: #444444 !default;

