/*-------------------------------------------------------*\
    Variables
/*-------------------------------------------------------*/

/*	Grid
--------------------------------------------------------*/

$columns: 12;
$column-width: 65px;
$gutter-width: 20px;


/*	Colors
--------------------------------------------------------*/

$primary-color: #ff9c08;
$secondary-color: #222222;

