/*-------------------------------------------------------*\
    Base
/*-------------------------------------------------------*/

html { 

    font-size: 62.5%;

} 

body {

    line-height: 1.5;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    background: #fff;
    color: $secondary-color;
    font-size: 14px;

    @include break-at(640px) {

        font-size: 16px;

    }

    @include break-at(1200px) {

        font-size: 19px

    }

}
img {

    max-width: 100%;
    vertical-align: middle;

}
