/*-------------------------------------------------------*\
    Base
/*-------------------------------------------------------*/

html { 

    font-size: 62.5%;

} 

body {

    line-height: 1.5;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    background: #fff;
    color: #222;
    font-size: 16px;

}
img {

    max-width: 100%;
    vertical-align: middle;

}
