/*-------------------------------------------------------*\
    Variables
/*-------------------------------------------------------*/

/*	Grid
--------------------------------------------------------*/

$columns: 12;
$column-width: 65px;
$gutter-width: 20px;

// Basic or Advanced usage
$advanced-usage: false;


/*	Colors
--------------------------------------------------------*/

$primary-color: #ff9c08;
$secondary-color: #444444;

